
body {
    place-content: center;
    padding: 1rem;
    background: radial-gradient(blue,red);

    header {
        justify-self: stretch;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.5);

        h1 {
            line-height: 0;
            font-size: max(4vw,2rem);
            font-weight: 600;
        }

    }

    main {
        position: relative;
        isolation: isolate;
        width: 33vw;
        min-width: 343px;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            background-color: rgba(255, 255, 255,0.5);
            filter: blur(40px);
        }

        section.gameOver {
            position: absolute;
            left: 50%; 
            transform: translate(-50%,0);

            width: 75%; 
            aspect-ratio: 16/9;
            
            opacity: 0;
            transition: 0.6s;

            background-color: white;
            pointer-events: none;

            &.visible {
                opacity: 1;
                transform: translate(-50%,70%);
                pointer-events: all;
            }

            p {
                font-variant: small-caps;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        section.game {

            ul {
                display: grid;
                grid-template-columns: repeat(3,1fr);

                li {
                    aspect-ratio: 1;

                    display: grid;
                    place-content: center;

                    border: 3px solid black;
                    
                    font-size: max(5vw,2rem);
                    font-weight: 600;
                    text-transform: uppercase;

                    &:nth-child(n) {
                        border-left: none;
                    }
                    &:nth-child(3n) {
                        border-right: none;
                    }
                    &:nth-child(1),&:nth-child(2),&:nth-child(3){
                        border-top: none;
                    }
                    &:nth-child(4),&:nth-child(5),&:nth-child(6){
                        border-top: none;
                        border-bottom: none;
                    }
                    &:nth-child(7),&:nth-child(8),&:nth-child(9){
                        border-bottom: none;
                    }

                    &.p1 {
                        color: blue;
                    }
                    &.p2 {
                        color: red;
                    }

                    &:focus-visible,
                    &:focus {
                        outline: none;
                    }
                    &.focus {
                        animation: pulse 2s infinite;
                        outline: 3px solid white;
                        outline-offset: -20px;
                    }
    
                    @keyframes pulse {
                        50% {
                            outline: 3px solid blue;
                        }
                    }
                }
            }
        }
    }
}


button {
    padding: 0.6rem 1.2rem;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}